<div class="container">
    <div class="top">
        <!-- <div class="head">
            <img class="logo" src="/assets/images/logos/loginLogo.jpg">
        </div> -->
        <div class="text-center" style="color:white;">
            <img style="height: 170px;" src="/assets/images/logos/Logo.png"></div>
        <div *ngIf="showTenantChange()">
            <tenant-change></tenant-change>
        </div>

        <!-- <div>
      <img class="logo" src="/assets/images/52abp_logo.svg">
      <img class="logo" src="/assets/images/52abp_txt.svg">
    </div> -->
    </div>

    <router-outlet></router-outlet>

    <br>
    <!-- <account-languages></account-languages> -->
    <div class="p-lg text-center text-sm">
        广元信息服务平台
    </div>

</div>