<nz-card [nzBordered]="false" nzTitle="资料详情">
    <form nz-form [formGroup]="validateForm">
        <div nz-row>
            <div nz-col [nzSpan]="16">
                <nz-form-item nz-row style="margin-bottom: 0px;">
                    <nz-form-label nz-col [nzSm]="4" nzRequired>资料分类</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20">
                        <label>{{category.name}}</label>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>资料名称</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <input nz-input formControlName="name" id="name">
                        <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').hasError('maxlength')">字符长度小于等于200</nz-form-explain>
                        <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').hasError('required')">请输入资料名称</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="summary">摘要说明</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <textarea nz-input row="3" formControlName="summary"></textarea>
                        <nz-form-explain *ngIf="validateForm.get('summary').dirty&&validateForm.get('summary').hasError('maxlength')">字符长度小于等于1000</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="content">主要内容</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <textarea nz-input row="5" formControlName="content"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>可查看用户</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <nz-radio-group formControlName="isAllUser" (ngModelChange)="allUserRadioChange($event)">
                            <label nz-radio nzValue="1">所有用户</label>
                            <label nz-radio nzValue="0">部分用户</label>
                        </nz-radio-group>
                        <!-- <input nz-input *ngIf="isAllUser == '0'" readonly="readonly" style="color:#1890ff;" value="{{userDesc? userDesc : '部门，人'}}">-->
                        <div *ngIf="isAllUser == '0'">
                            <nz-tag *ngFor="let dept of deptTags; let i = index;" [nzColor]="'blue'" [nzMode]="'closeable'"
                                (nzAfterClose)="handleDeptClose(dept)">
                                {{ dept.name }}
                            </nz-tag>
                            <nz-tag *ngFor="let user of userTags; let i = index;" [nzMode]="'closeable'" (nzAfterClose)="handleUserClose(user)">
                                {{ user.name }}
                            </nz-tag>
                            <nz-tag class="editable-tag" [nzColor]="'#108ee9'" (click)="showDeptUserModel()">
                                <i class="anticon anticon-plus"></i> 选择部门和人
                            </nz-tag>
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>发布日期</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <nz-date-picker [nzFormat]="'yyyy/MM/dd'" formControlName="releaseDate"></nz-date-picker>
                        <nz-form-explain *ngIf="validateForm.get('releaseDate').dirty&&validateForm.get('releaseDate').hasError('required')">请输入发布日期</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" class="text-center">
                <div [style.display]="codeStyle">
                    <qr [value]="qrCode.value" [background]="qrCode.background" [backgroundAlpha]="qrCode.backgroundAlpha"
                        [foreground]="qrCode.foreground" [foregroundAlpha]="qrCode.foregroundAlpha" [level]="qrCode.level"
                        [mime]="qrCode.mime" [padding]="qrCode.padding" [size]="qrCode.size" style="border:1px solid #999"></qr>
                </div>
            </div>
        </div>
    </form>
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                <button nz-button type="button" (click)="uploadFile()" nzType="primary">
                    <i class="anticon anticon-plus"></i>
                    <span>上传资料</span>
                </button>
            </div>
        </div>
    </form>
    <nz-table #nzTable [nzData]="attachments" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>文档名称</th>
                <th>类型</th>
                <th>大小</th>
                <th>下载</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nzTable.data">
                <td>{{item.name}}</td>
                <td>{{item.fileTypeName}}</td>
                <td>{{item.fileSize}}</td>
                <td><a href="{{item.path | hostUrl}}" target="_blank">{{item.name}}</a></td>
                <td>{{item.creationTime | date:'yyyy-MM-dd'}}</td>
                <td>
                    <a (click)="deleteAttachment(item.id)" style=" color:red;">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <footer-toolbar errorCollect>
        <button nz-button [nzType]="'default'" (click)="return()">
            {{l("返回")}}
        </button>
        <button nz-button *ngIf="isDelete" [nzType]="'danger'" (click)="delete()" [nzLoading]="saving">
            {{l("删除")}}
        </button>
        <button nz-button [nzType]="'primary'" type="button" (click)="submit()" [disabled]="!validateForm.valid">
            {{l("保存")}}
        </button>
    </footer-toolbar>
</nz-card>