<!--component html goes here -->
<page-header [title]=""></page-header>
<nz-card>
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <nz-form-item class="d-flex">
                    <nz-form-label nzFor="name">姓名</nz-form-label>
                    <nz-form-control class="flex-1">
                        <input nz-input [(ngModel)]="search.name" name="name" placeholder="请输入烟农姓名" nzSize="default">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <nz-form-item class="d-flex">
                    <nz-form-label nzFor="employee">所属烟技员</nz-form-label>
                    <nz-form-control class="flex-1">
                        <input nz-input [(ngModel)]="search.employee" name="employee" placeholder="请输入烟技员姓名" nzSize="default">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                <button nz-button type="submit" nzType="primary" [nzLoading]="loading">查询</button>
                <button nz-button type="reset" (click)="refreshData(true)" class="mx-sm">重置</button>
                <button nz-button type="button" (click)="createRoom()" [acl]="'CityAdmin'" nzType="primary">
                    <i class="anticon anticon-plus"></i>
                    <span>新建</span>
                </button>
            </div>
        </div>
    </form>
    <ng-template #totalTemplate let-total>共 {{query.total}} 条</ng-template>
    <nz-table #nzTable [nzData]="growerList" [nzFrontPagination]="false" [nzTotal]="query.total" [nzShowTotal]="totalTemplate"
        [(nzPageIndex)]="query.pageIndex" [(nzPageSize)]="query.pageSize" [nzLoading]="loading" [nzShowSizeChanger]="true"
        (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData()">
        <thead>
            <tr>
                <th>用户名</th>
                <th>单位名称</th>
                <th>联系方式</th>
                <th>所属烟技员</th>
                <!-- <th>地理位置</th> -->
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{data.name}}</td>
                <td>{{data.unitName}}</td>
                <td>{{data.tel}}</td>
                <td>{{data.employeeName}}</td>
                <td>
                    <a (click)="goDetail(data.id)">详细信息</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>