<!-- <page-header>
</page-header> -->
<!-- 演示卡片数据 -->
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.total}}</div>
        <p class="text-nowrap mb0">任务总数</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]"></g2-mini-bar>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.completed}}</div>
        <p class="text-nowrap mb0">任务完成数</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]"></g2-mini-bar>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.completedRate}}</div>
        <p class="text-nowrap mb0">任务完成率</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]"></g2-mini-bar>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.expired}}</div>
        <p class="text-nowrap mb0">任务逾期数</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]"></g2-mini-bar>
      </div>
    </div>
  </div>
</div>

<div nz-row nzGutter="16">

  <!-- <div nz-col nzXs="24" nzMd="12"> -->
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzTitle]="title1">
      <ng-template #title1>
        <div nz-row>
          <div nz-col nzSpan="8">
            任务计划
          </div>
          <div nz-col nzSpan="12" nzOffset="4">
            <nz-range-picker [nzFormat]="shedateFormat" [(ngModel)]="searchAreas" (ngModelChange)="changeTime($event)"></nz-range-picker>
            <!-- <nz-date-picker [nzFormat]="shedateFormat"></nz-date-picker> -->
          </div>
        </div>
      </ng-template>
      <!-- <bar height="275" [data]="shopData"></bar> -->
      <g2-bar height="275" [data]="sheduMothData" color="name"></g2-bar>
      <nz-table #nzTable [nzData]="sheduleArea" nzShowSizeChanger [nzShowPagination]="false">
        <thead>

          <tr>
            <th>
              <span>单位</span>
            </th>
            <th *ngFor="let sheArea of nzTable.data">
              <span>{{sheArea.groupName}}</span>
            </th>
            <th>
              <span class="bgcorlor">总数</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="countsty">总数</td>
            <td *ngFor="let sheArea of nzTable.data">{{sheArea.total}}</td>
            <td class="bgcorlor">{{AreaSum.Satotal}}</td>
          </tr>
          <tr>
            <td class="countsty">完成数 </td>
            <td *ngFor="let sheArea of nzTable.data">{{sheArea.completed}}</td>
            <td class="bgcorlor">{{AreaSum.SaComplete}}</td>
          </tr>
          <tr>
            <td class="countsty"> 逾期数 </td>
            <td *ngFor="let sheArea of nzTable.data">{{sheArea.expired}}</td>
            <td class="bgcorlor">{{AreaSum.SaExpired}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzTitle]="title2" [nzBordered]="false">
      <ng-template #title2>
        <div nz-row>
          <div nz-col nzSpan="8">
            任务计划
          </div>
          <div nz-col nzSpan="8" nzOffset="8">
            <nz-radio-group *ngFor="let item of tags" [(ngModel)]="searchMoth" [nzButtonStyle]="'solid'"
              (ngModelChange)="changeCategory()">
              <label nz-radio-button [nzValue]="item.value" style="margin-right: 12px;">
                <span>{{item.text}}</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
      </ng-template>
      <g2-group-bar height="275" [data]="sheduMothData" groupName="name">
      </g2-group-bar>
      <nz-table #nzTablew [nzData]="sheduleMoth" [nzShowPagination]="false" [nzShowSizeChanger]="true">
        <thead>
          <tr>
            <th>
              <span>单位</span>
            </th>
            <th *ngFor="let sheMoth of nzTablew.data">
              <span>{{sheMoth.groupName}}</span>
            </th>
            <th>
              <span class="bgcorlor">总数</span>
            </th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td class="countsty">总数</td>
            <td *ngFor="let sheMoth of nzTablew.data">{{sheMoth.total}}</td>
            <td class="bgcorlor">{{MothSum.Mototal}}</td>
          </tr>
          <tr>
            <td class="countsty">完成数 </td>
            <td *ngFor="let sheMoth of nzTablew.data">{{sheMoth.completed}}</td>
            <td class="bgcorlor">{{MothSum.MoComplete}}</td>
          </tr>
          <tr>
            <td class="countsty"> 逾期数 </td>
            <td *ngFor="let sheMoth of nzTablew.data">{{sheMoth.expired}}</td>
            <td class="bgcorlor">{{MothSum.MoExpired}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>


<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24">
    <nz-card nzTitle="52ABP模板项目中的技术栈" [nzBordered]="false" [nzLoading]="loading" class="ant-card__body-nopadding mb-lg project-list">
      <div *ngFor="let item of notice" nz-card-grid class="project-grid">
        <nz-card [nzBordered]="false" class="ant-card__body-nopadding mb0">
          <nz-card-meta [nzTitle]="noticeTitle" [nzDescription]="item.description">
            <ng-template #noticeTitle>
              <div class="card-title">
                <nz-avatar [nzSrc]="item.logo" [nzSize]="'small'"></nz-avatar>
                <a (click)="msg.info('to' + item.href)">{{item.title}}</a>
              </div>
            </ng-template>
          </nz-card-meta>
          <div class="project-item">
            <a (click)="msg.info('show user: ' + item.member)">{{item.member}}</a>
            <span *ngIf="item.updatedAt" class="datetime" title="{{item.updatedAt}}">
              {{item.updatedAt | _date: 'fn' }}
            </span>
          </div>
        </nz-card>
      </div>
    </nz-card>

  </div>


</div>


<!-- 更多资料  -->
<nz-row nzGutter="24">
  <nz-col nzSpan="24">
    <nz-card nzTitle="更多资料" [nzBordered]="false" [nzBodyStyle]="{'padding-top.px': 12, 'padding-bottom.px': 12 }" class="mb-lg">
      <div class="members">
        <div nz-row [nzGutter]="48">
          <div nz-col [nzSpan]="12" *ngFor="let i of members">
            <a href="{{i.link}}" target="_blank">
              <nz-avatar [nzSrc]="i.logo" [nzSize]="'small'"></nz-avatar>
              <span class="member">{{i.title}}</span>
            </a>
          </div>
        </div>
      </div>
    </nz-card>
  </nz-col>
</nz-row>