<!-- <pro-header></pro-header> -->
<nz-card [nzBordered]="false">
    <nz-card [nzBordered]="false">
        <form nz-form [formGroup]="validateForm" *ngIf="grower">
            <div nz-row>
                <div nz-col [nzSpan]="16">
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzRequired>烟农姓名</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="name" [(ngModel)]="grower.name" id="name">
                            <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').hasError('maxlength')">字符长度小于等于50</nz-form-explain>
                            <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').hasError('required')">请输入烟农姓名</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="unitCode">单位名称</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <nz-select formControlName="unitCode" [nzPlaceHolder]="'请选择单位名称'" name="unitCode" [(ngModel)]="grower.unitCode" (ngModelChange)="getText($event)" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of unitTypes" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="validateForm.get('unitCode').dirty&&validateForm.get('unitCode').hasError('maxlength')">字符长度小于等于50</nz-form-explain>
                            <nz-form-explain *ngIf="validateForm.get('unitCode').dirty&&validateForm.get('unitCode').hasError('required')">请选择单位</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row style="margin-bottom: 0px;">
                        <nz-form-label nz-col [nzSm]="4" nzFor="countyCode">所属区县</nz-form-label>
                        <nz-form-control nz-col [nzSm]="20">
                            <nz-radio-group formControlName="countyCode" [(ngModel)]="grower.countyCode" class="mb-md">
                                <label nz-radio [nzValue]="o.value" *ngFor="let o of countyCodes">
                                    <span>{{o.text}}</span>
                                </label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="employeeName">所属烟技员</nz-form-label>
                        <nz-form-control [nzSm]="16" nzHasFeedback>
                            <input nz-input readonly="readonly" placeholder="请选择烟技员" formControlName="employeeName" id="employeeName" [(ngModel)]="grower.employeeName">
                            <nz-form-explain *ngIf="validateForm.get('employeeName').dirty&&validateForm.get('employeeName').hasError('maxlength')">字符长度小于等于200</nz-form-explain>
                        </nz-form-control>
                        <nz-form-control [nzSm]="4" style="float: right;">
                            <button nz-button type="button" nzType="primary" (click)="showModal()" style="margin-left: 20px">选择烟技员</button>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row style="margin-bottom: 0px;">
                        <nz-form-label nz-col [nzSm]="4" nzFor="type">种植主体类型</nz-form-label>
                        <nz-form-control nz-col [nzSm]="20">
                            <nz-radio-group formControlName="type" [(ngModel)]="grower.type" class="mb-md">
                                <label nz-radio [nzValue]="o.value" *ngFor="let o of types">
                                    <span>{{o.text}}</span>
                                </label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="year">业务年度</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="year" id="year" [(ngModel)]="grower.year">
                            <nz-form-explain *ngIf="validateForm.get('year').dirty&&validateForm.get('year').hasError('pattern')">请输入正整数</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="contractNo">合同编号</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="contractNo" id="contractNo" [(ngModel)]="grower.contractNo">
                            <nz-form-explain *ngIf="validateForm.get('contractNo').dirty&&validateForm.get('contractNo').hasError('maxlength')">字符长度小于等于50</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="tel">联系电话</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="tel" id="tel" [(ngModel)]="grower.tel">
                            <nz-form-explain *ngIf="validateForm.get('tel').dirty&&validateForm.get('tel').hasError('maxlength')">字符长度小于等于11</nz-form-explain>
                            <nz-form-explain *ngIf="validateForm.get('tel').dirty&&validateForm.get('tel').hasError('pattern')">请输入纯数字</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="villageGroup">村组</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="villageGroup" id="villageGroup" [(ngModel)]="grower.villageGroup">
                            <nz-form-explain *ngIf="validateForm.get('villageGroup').dirty&&validateForm.get('villageGroup').hasError('maxlength')">字符长度小于等于50</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="address">详细住址</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="address" id="address" [(ngModel)]="grower.address">
                            <nz-form-explain *ngIf="validateForm.get('address').dirty&&validateForm.get('address').hasError('maxlength')">字符长度小于等于500</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="plantingArea">种植面积</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                                <input nz-input formControlName="plantingArea" id="plantingArea" [(ngModel)]="grower.plantingArea">
                                <ng-template #suffixIconButton>
                                    <button nz-button nzType="primary" disabled nzSearch>亩</button>
                                </ng-template>
                            </nz-input-group>
                            <nz-form-explain *ngIf="validateForm.get('plantingArea').dirty&&validateForm.get('plantingArea').hasError('pattern')">请输入整数(两位精度)，如50.00</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="contractTime">合同签订时间</nz-form-label>
                        <nz-form-control [nzSm]="20">
                            <nz-date-picker formControlName="contractTime" [nzFormat]="yyyy/MM/dd" [(ngModel)]="grower.contractTime" [nzPlaceHolder]="'请选择日期'"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="longitude">经度</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="longitude" id="longitude" [(ngModel)]="grower.longitude">
                            <nz-form-explain *ngIf="validateForm.get('longitude').dirty&&validateForm.get('longitude').hasError('plantingArea')">字符长度小于等于500</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row>
                        <nz-form-label nz-col [nzSm]="4" nzFor="latitude">纬度</nz-form-label>
                        <nz-form-control [nzSm]="20" nzHasFeedback>
                            <input nz-input formControlName="latitude" id="latitude" [(ngModel)]="grower.latitude">
                            <nz-form-explain *ngIf="validateForm.get('latitude').dirty&&validateForm.get('latitude').hasError('plantingArea')">字符长度小于等于500</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
        <footer-toolbar errorCollect>
            <button nz-button [nzType]="'default'" (click)="return()">
                {{l("返回")}}
            </button>
            <button nz-button *ngIf="isDelete" [nzType]="'danger'" (click)="delete(deleteContent)" [nzLoading]="isConfirmLoading">
                {{l("删除")}}
            </button>
            <button nz-button [nzType]="'primary'" type="button" (click)="save()" [nzLoading]="isConfirmLoading" [disabled]="!validateForm.valid">
                {{l("保存")}}
            </button>
        </footer-toolbar>
    </nz-card>
</nz-card>
<grower-employee-modal #selectsEmployeeModal (modalSelect)="getSelectData($event)"></grower-employee-modal>