<!--component html goes here -->
<page-header></page-header>
<nz-tabset>
    <nz-tab nzTitle="任务汇总">
        <form nz-form (ngSubmit)="getSheduleSum(false)" [nzLayout]="'inline'">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="area">区域</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="area" [nzPlaceHolder]="'请选择区域'" [(ngModel)]="sumSearch.areaCode" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of areas" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskType">任务类型</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="taskType" [nzPlaceHolder]="'请选择任务类型'" [(ngModel)]="taskType" [nzShowSearch]="true" (ngModelChange)="taskChange()">
                                <nz-option *ngFor="let i of taskTypes" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">任务</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="taskId" [nzDisabled]="!(tasks.length>0)" [nzPlaceHolder]="'请选择任务'" [(ngModel)]="sumSearch.taskId" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of tasks" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">时间范围</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-range-picker name="dateRange" [(ngModel)]="dateRange" [nzFormat]="shedateFormat" (ngModelChange)="changeTime($event)"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">计划名</nz-form-label>
                        <nz-form-control class="flex-1">
                            <input nz-input name="sheduleName" placeholder="计划名" [(ngModel)]="sumSearch.sheduleName">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                    <button nz-button type="submit" [nzType]="'primary'" class="mx-sm">查询</button>
                    <button nz-button type="button" (click)="getSheduleSum(true)" class="mx-sm">重置</button>
                    <a style="display: none;" id="aSheduleSumExcelUrl" href="#">
                        <button type="button" id="btnSheduleSumHref">隐藏下载</button>
                    </a>
                    <button nz-button type="button" (click)="exportSheduleSum()" [nzLoading]="exportSLoading">
                        <i class="anticon anticon-download"></i>
                        <span>导出</span>
                    </button>
                </div>
            </div>
        </form>
        <nz-table #nzTable [nzData]="sheduleSum" [nzFrontPagination]="false" [nzLoading]="loading" [nzShowSizeChanger]="true" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th>
                        <span>区域</span>
                    </th>
                    <th>
                        <span>计划名</span>
                    </th>
                    <th>
                        <span>计划时间</span>
                    </th>
                    <th>
                        <span>任务名</span>
                    </th>
                    <th>
                        <span>任务类型</span>
                    </th>
                    <th>
                        <span>计划数</span>
                    </th>
                    <th>
                        <span>完成数</span>
                    </th>
                    <th>
                        <span>逾期数</span>
                    </th>
                    <th>
                        <span>完成率</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sum of nzTable.data">
                    <td>{{sum.areaName}}</td>
                    <td>{{sum.sheduleName}}</td>
                    <td>{{sum.time}}</td>
                    <td>{{sum.taskName}}</td>
                    <td>{{sum.taskTypeName}}</td>
                    <td>{{sum.total}}</td>
                    <td>{{sum.complete}}</td>
                    <td>{{sum.expired}}</td>
                    <td>{{sum.completeRate}}</td>
                </tr>
                <tr>
                    <td>总计：</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{totalSum}}</td>
                    <td>{{completeSum}}</td>
                    <td>{{expiredSum}}</td>
                    <td>{{completeRate}}</td>
                    <td></td>
                </tr>
            </tbody>
        </nz-table>
    </nz-tab>
    <nz-tab nzTitle="任务明细">
        <form nz-form (ngSubmit)="getSheDulDetailByTask(false,true)" [nzLayout]="'inline'">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="area">区域</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="area" [nzPlaceHolder]="'请选择区域'" [(ngModel)]="detailSearch.areaCode" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of areas" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskTypeDe">任务类型</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="taskTypeDe" [nzPlaceHolder]="'请选择任务类型'" [(ngModel)]="taskTypeDe" [nzShowSearch]="true" (ngModelChange)="taskChangeDe()">
                                <nz-option *ngFor="let i of taskTypes" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">任务</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-select name="taskId" [nzDisabled]="!(tasksDe.length>0)" [nzPlaceHolder]="'请选择任务'" [(ngModel)]="detailSearch.taskId" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of tasksDe" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">烟农名</nz-form-label>
                        <nz-form-control class="flex-1">
                            <input nz-input name="growerName" placeholder="烟农名" [(ngModel)]="detailSearch.growerName">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">烟技员名</nz-form-label>
                        <nz-form-control class="flex-1">
                            <input nz-input name="employeeName" placeholder="烟技员名" [(ngModel)]="detailSearch.employeeName">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">计划名</nz-form-label>
                        <nz-form-control class="flex-1">
                            <input nz-input name="sheduleName" placeholder="计划名" [(ngModel)]="detailSearch.sheduleName">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8" class="mb-md">
                    <nz-form-item class="d-flex">
                        <nz-form-label nzFor="taskId">时间范围</nz-form-label>
                        <nz-form-control class="flex-1">
                            <nz-range-picker name="dateRangeDe" [(ngModel)]="dateRangeDe" [nzFormat]="shedateFormatDe" (ngModelChange)="changeTimeDe($event)"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                    <button nz-button type="submit" [nzType]="'primary'" class="mx-sm">查询</button>
                    <button nz-button type="button" (click)="getSheDulDetailByTask(true)" class="mx-sm">重置</button>
                    <a style="display: none;" id="aSheduleDeExcelUrl" href="#">
                        <button type="button" id="btnSheduleDeHref">隐藏下载</button>
                    </a>
                    <button nz-button type="button" (click)="exportSheduleDe()" [nzLoading]="exportDLoading">
                        <i class="anticon anticon-download"></i>
                        <span>导出</span>
                    </button>
                </div>
            </div>
        </form>
        <ng-template #totalContent>共{{query.total}}条</ng-template>
        <nz-table #nzTable1 [nzData]="sheduleDetailTask" [nzFrontPagination]="false" [nzLoading]="loadingDe" [nzTotal]="query.total"
            [(nzPageIndex)]="query.pageIndex" [nzShowTotal]="totalContent" [(nzPageSize)]="query.pageSize" [nzShowSizeChanger]="true"
            (nzPageIndexChange)="getSheDulDetailByTask()" (nzPageSizeChange)="getSheDulDetailByTask()">
            <thead>
                <tr>
                    <th>
                        <span>区域</span>
                    </th>
                    <th>
                        <span>计划名</span>
                    </th>
                    <th>
                        <span>计划时间</span>
                    </th>
                    <th>
                        <span>任务名</span>
                    </th>
                    <th>
                        <span>任务类型</span>
                    </th>
                    <th>
                        <span>计划数</span>
                    </th>
                    <th>
                        <span>完成数</span>
                    </th>
                    <th>
                        <span>逾期数</span>
                    </th>
                    <th>
                        <span>状态</span>
                    </th>
                    <th>
                        <span>烟技员</span>
                    </th>
                    <th>
                        <span>烟农</span>
                    </th>
                    <th>
                        <span>操作</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sum of nzTable1.data">
                    <td>{{sum.areaName}}</td>
                    <td>{{sum.sheduleName}}</td>
                    <td>{{sum.time}}</td>
                    <td>{{sum.taskName}}</td>
                    <td>{{sum.typeName}}</td>
                    <td>{{sum.visitNum}}</td>
                    <td>{{sum.completeNum}}</td>
                    <td>{{sum.expired}}</td>
                    <td>{{sum.statusName}}</td>
                    <td>{{sum.employeeName}}</td>
                    <td>{{sum.growerName}}</td>
                    <td>
                        <a (click)="goTask(sum.growerId)">查看拜访记录</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-tab>

</nz-tabset>`