<nz-modal [(nzVisible)]="isVisible" nzMaskClosable="false" nzTitle="区县维护" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" style="width: 520px;" [nzFooter]="modalFooter">
    <ng-template #modalContent>
        <nz-card [nzBordered]="false" *ngIf="isVisible">
            <form nz-form [formGroup]="validateForm" *ngIf="employee">
                <div nz-row nzGutter="16">
                    <div nz-col nzXs="24" nzSm="25">
                        <desc-list size="small" col="1" class="mb-md">
                            <desc-list-item term="员工姓名">{{employee.name}}</desc-list-item>
                            <desc-list-item term="电话号码">{{employee.mobile}}</desc-list-item>
                            <desc-list-item term="职位信息">{{employee.position}}</desc-list-item>
                        </desc-list>
                    </div>
                </div>
                <!-- <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="name" nzRequired>姓名</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <input formControlName="name" nz-input id="name" [(ngModel)]="employee.name">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="mobile">电话号码</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <input nz-input formControlName="mobile" id="mobile" [(ngModel)]="employee.mobile">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="position">职位</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <input formControlName="position" nz-input id="position" [(ngModel)]="employee.position">
                    </nz-form-control>
                </nz-form-item> -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="unitCode">所属区县</nz-form-label>
                    <nz-form-control [nzSm]="20">
                        <nz-select formControlName="unitCode" [nzPlaceHolder]="'请选择区县名称'" name="countyCode" [(ngModel)]="employee.areaCode" (ngModelChange)="getText($event)" [nzShowSearch]="true">
                            <nz-option *ngFor="let i of countyCodes" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" type="button" (click)="handleCancel($event)">
            取消
        </button>
        <button nz-button [nzType]="'primary'" type="button" (click)="save(employee)" [nzLoading]="eloading">
            保存
        </button>
    </ng-template>
</nz-modal>