<!--component html goes here -->
<!-- <nz-card>
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md" [class.text-left]="'false'">
                <button nz-button nzType="primary" (click)="syncData()" [nzLoading]="syncDataLoading">
                        <i class="anticon anticon-poweroff"></i>
                <span>同步组织架构</span></button>
            </div>
        </div>
    </form>
    <nz-table #nzTable [nzData]="organizationList">
        <thead>
            <tr>
                <th>部门名称</th>
                <th>父部门id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{data.departmentName}}</td>
                <td>{{data.parentId}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card> -->
<nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search Tree Node" [(ngModel)]="searchValue">
</nz-input-group>
<ng-template #suffixIcon>
    <i class="anticon anticon-search"></i>
</ng-template>
<nz-tree [(ngModel)]="rootNode" [nzAsyncData]="true" (nzExpandChange)="mouseAction('expand',$event)"></nz-tree>