<page-header></page-header>
<nz-tabset>
    <nz-tab nzTitle="烟叶服务">
        <div nz-row>
            <div nz-col [nzSpan]="4">
                <!-- <nz-radio-group style="display: block;" *ngFor="let item of configLeaf" [(ngModel)]="paramLe.Type" [nzButtonStyle]="'solid'"
                    (ngModelChange)="checkChangeLeaf()">
                    <label nz-radio-button [nzValue]="item.value" style="margin-top: 10px;">
                        <span>{{item.text}}</span>
                    </label>
                </nz-radio-group> -->
                <ul nz-menu [nzMode]="'inline'">
                    <li *ngFor="let item of configLeaf" nz-menu-item [nzSelected]="item.selected" (click)="checkChangeLeaf(item)">{{item.text}}</li>
                </ul>

            </div>
            <div nz-col [nzSpan]="20">
                <ng-template #deleteContent>
                    <h2>是否删除配置项{{LeafName}}?</h2>
                </ng-template>
                <form nz-form (ngSubmit)="getAllLeafs()" [nzLayout]="'inline'">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
                            <button nz-button (click)="getAllLeafs()" nzShape="circle">
                                <i class="anticon anticon-reload"></i>
                            </button>
                            <!-- <button nz-button type="reset" (click)="refreshData()" [nzSize]="'large'" class="mx-sm">重置</button> -->
                            <button nz-button type="button" (click)="addLeaf()" nzShape="circle" [nzType]="'primary'" [nzSize]="'large'">
                                <i class="anticon anticon-plus"></i>
                                <!-- <span>新建</span> -->
                            </button>
                        </div>
                    </div>
                </form>
                <ng-template #totalContentLe>共{{query.total}}条</ng-template>
                <nz-table #nzTable [nzData]="systemDataLeafs" [nzFrontPagination]="false" [nzTotal]="query.total" [(nzPageIndex)]="query.pageIndex"
                    [(nzPageSize)]="query.pageSize" [nzShowTotal]="totalContentLe" [nzLoading]="loading" nzShowSizeChanger (nzPageIndexChange)="getAllLeafs()"
                    (nzPageSizeChange)="getAllLeafs()">
                    <thead>
                        <tr>
                            <th>
                                <span>配置类型</span>
                            </th>
                            <th>
                                <span>编码</span>
                            </th>
                            <th>
                                <span>配置项</span>
                            </th>
                            <th>
                                <span>序号</span>
                            </th>
                            <th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaf of nzTable.data">
                            <td>{{leaf.typeName}}</td>
                            <td>{{leaf.code}}</td>
                            <td>{{leaf.desc}}</td>
                            <td>{{leaf.seq}}</td>
                            <td>
                                <a (click)="editLeaf(leaf)">编辑</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="deleteLeaf(leaf,deleteContent)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </nz-tab>
    <nz-tab nzTitle="会议管理">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="4" class="mb-md">
                <!-- <nz-radio-group style="display: block;" *ngFor="let item of configMetting" [(ngModel)]="paramMe.Type" [nzButtonStyle]="'solid'"
                    (ngModelChange)="checkChangeMetting()">
                    <label nz-radio-button [nzValue]="item.value" style="margin-top: 10px;">
                        <span>{{item.text}}</span>
                    </label>
                </nz-radio-group> -->
                <ul nz-menu [nzMode]="'inline'">
                    <li *ngFor="let item of configMetting" nz-menu-item [nzSelected]="item.selected" (click)="checkChangeMetting(item)">{{item.text}}</li>
                </ul>
            </div>
            <div nz-col [nzSpan]="20" class="mb-md">
                <ng-template #deleteContentMe>
                    <h2>是否删除配置项{{mettingName}}?</h2>
                </ng-template>
                <form nz-form (ngSubmit)="getAllMetting()" [nzLayout]="'inline'">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
                            <button nz-button (click)="getAllMetting()" nzShape="circle">
                                <i class="anticon anticon-reload"></i>
                            </button>
                            <button nz-button (click)="addConfigMetting()" nzShape="circle" [nzType]="'primary'" [nzSize]="'large'">
                                <i class="anticon anticon-plus"></i>
                                <!-- <span>新建</span> -->
                            </button>
                        </div>
                    </div>
                </form>
                <ng-template #totalContentMe>共{{queryMe.total}}条</ng-template>
                <nz-table #nzTableMe [nzData]="systemDataMettings" [nzFrontPagination]="false" [nzTotal]="queryMe.total" [(nzPageIndex)]="queryMe.pageIndex"
                    [(nzPageSize)]="queryMe.pageSize" [nzShowTotal]="totalContentMe" [nzLoading]="loadingMe" [nzShowTotal]="'true'"
                    [nzShowSizeChanger]="true" (nzPageIndexChange)="getAllMetting()" (nzPageSizeChange)="getAllMetting()">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>配置类型</span>
                            </th>
                            <th nz-th>
                                <span>编码</span>
                            </th>
                            <th nz-th>
                                <span>配置项</span>
                            </th>
                            <th nz-th>
                                <span>序号</span>
                            </th>
                            <th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let metting of nzTableMe.data">
                            <td nz-td>{{metting.typeName}}</td>
                            <td nz-td>{{metting.code}}</td>
                            <td nz-td>{{metting.desc}}</td>
                            <td nz-td>{{metting.seq}}</td>
                            <td nz-td>
                                <a (click)="editMetting(metting)">编辑</a>
                                <!-- <span nz-table-divider></span> -->
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="deleteMetting(metting,deleteContentMe)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </nz-tab>
    <nz-tab nzTitle="钉钉配置">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="4" class="mb-md">
                <ul nz-menu [nzMode]="'inline'">
                    <li *ngFor="let item of configDing" nz-menu-item [nzSelected]="item.selected" (click)="checkChangeconfigDing(item)">{{item.text}}</li>
                </ul>
            </div>
            <div nz-col [nzSpan]="20" class="mb-md">
                <!-- <ng-template #deleteContentMe>
                    <h2>是否删除配置项{{mettingName}}?</h2>
                </ng-template> -->
                <form nz-form (ngSubmit)="getAllDing()" [nzLayout]="'inline'">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
                            <button nz-button (click)="getAllDing()" nzShape="circle">
                                <i class="anticon anticon-reload"></i>
                            </button>
                            <button nz-button (click)="addConfigDing()" nzShape="circle" [nzType]="'primary'" [nzSize]="'large'">
                                <i class="anticon anticon-plus"></i>
                                <!-- <span>新建</span> -->
                            </button>
                        </div>
                    </div>
                </form>
                <ng-template #totalContentMe>共{{queryDi.total}}条</ng-template>
                <nz-table #nzTableDi [nzData]="systemDataDings" [nzFrontPagination]="false" [nzTotal]="queryDi.total" [(nzPageIndex)]="queryDi.pageIndex"
                    [(nzPageSize)]="queryDi.pageSize" [nzShowTotal]="totalContentMe" [nzLoading]="loadingDi" [nzShowTotal]="'true'"
                    [nzShowSizeChanger]="true" (nzPageIndexChange)="getAllDing()" (nzPageSizeChange)="getAllDing()">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>配置类型</span>
                            </th>
                            <th nz-th>
                                <span>编码</span>
                            </th>
                            <th nz-th>
                                <span>配置项</span>
                            </th>
                            <th nz-th>
                                <span>序号</span>
                            </th>
                            <th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let ding of nzTableDi.data">
                            <td nz-td>{{ding.typeName}}</td>
                            <td nz-td>{{ding.code}}</td>
                            <td nz-td>{{ding.desc}}</td>
                            <td nz-td>{{ding.seq}}</td>
                            <td nz-td>
                                <a (click)="editDing(ding)">编辑</a>
                                <!-- <span nz-table-divider></span> -->
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="deleteDing(ding,deleteContentMe)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </nz-tab>
</nz-tabset>
<data-config-create-modal #createDataConfigModal (modalSave)="refureshData($event)"></data-config-create-modal>
<data-config-edit-modal #editDataConfigModal (modalSave)="refureshData($event)"></data-config-edit-modal>