<!-- component html goes here
<nz-card>
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">

        </div>
    </form>
    <nz-table #rowSelectionTable (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()">
        <thead>
            <tr>
                <th>用户名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
        </thead>
    </nz-table>
</nz-card> -->